//@import "@/styles/variable.scss";

$wrap-width: 1280px;

#root {
  max-width: $wrap-width;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
  }

  h1{
    color: $theme-color;
  }
}

